﻿/*REMOVE WHEN NOT IN DEV*/
.dev
{
	/*display:none;*/
}

/*GENERAL*/

*
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	    /* Make iOs input fields unresponsive, Don't use */
	    /*-webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;*/
    user-select: none;
}

html
{
	background-color:black;
	background-repeat:no-repeat;
	background-position: center center;
	background-attachment: fixed;	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:100%;
	min-height:100%;
	-webk0t-text-size-adjust: 100%;
}

html.login-page {		background-image: url('../img/background-login-2.jpg'); }
html.about-page {		background-image: url('../img/background-about.jpg'); }
html.topup-page {		background-image: url('../img/background-about.jpg'); }
html.crew-page {		background-image: url('../img/background-about.jpg'); }
html.senior-page {		background-image: url('../img/background-senior.jpg'); }
html.principal-page {	background-image: url('../img/background-principal.jpg'); }

html body
{
	background-color: transparent;
}

.page-container
{
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	left: 0;
	overflow-y: auto;
	position: fixed;
	top: 0;
	padding:8px;
}

@media screen and (min-width: 768px)
{
	.page-container
	{
		padding:50px;
	}
}

h1
{
	font-size: 40px;
    font-family: 'DINNextLTPro-UltraLight', 'Gotham 2r';
    font-style: normal;
    font-weight: normal;
    letter-spacing: -2px;
    line-height: 1;
    text-shadow: 0 0 5px rgba(0,0,0,.25);
    color:white;
	margin-bottom: 15px;
}

h2
{
	font-size: 20px;
    font-family: 'DINNextLTPro-UltraLight', 'Gotham 3r';
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    text-shadow: 0 0 5px rgba(0,0,0,.25);
    color:white;
    letter-spacing:-2px;
    margin:15px 0;
}


h3
{
	font-size: 20px;
    font-family: 'DINNextLTPro-UltraLight', 'Gotham 3r';
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-shadow: 0 0 5px rgba(0,0,0,.25);
    color:white;
    margin:0 0 0 5px;
}

p
{
	font-size: 16px;
	font-family: 'DINNextLTPro-UltraLight', 'Gotham 3r';
	font-style: normal;
	font-weight: bold;
	letter-spacing: normal;
	text-shadow: 0 0 5px rgba(0,0,0,.25);
	color: white;
}


@media screen and (min-width: 367px)
{
	h1
	{
		font-size:55px;
	}

	h2
	{
		font-size:30px;
	}
	p
	{
		font-size: 18px;
	}
}

@media screen and (min-width: 768px)
{
	h1
	{
		font-size:70px;
	}

	h2
	{
		font-size:35px;
	}

	p.nbaa-page-description
	{
		max-width: 580px;
	}

	p
	{
		font-size: 21px;
	}
}

.nbaa-spacer
{
	height:20px;
}


/*HEADER*/

header
{
	background-color: rgba(0,0,0,1);
	height: 47px;
	left: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index:20;
}

.logo
{
	background-image: url('../img/pana_logo.png');
	background-size: cover;
	display:inline-block;
	height: 35px;
	margin: 6px;
	width: 150px;
}


/*FORM*/

.nbaa-form
{
	margin-top:50px;
}

@media screen and (min-width: 768px)
{
	.nbaa-form
	{
		width:auto;
	}	
}

.nbaa-form-element
{
	box-sizing:border-box;
	display: block;
    font-family: 'DINNextLTPro-UltraLight', 'Gotham 2r';
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    height: 50px;
    letter-spacing: -1px;
    line-height: 50px;
	margin: 0 0 2px 0;
    padding: 0 15px;
    text-align: left;
    width: 100%;
}

.nbaa-form-centered .nbaa-btn
{
	text-align: center;
}

.nbaa-form-centered .nbaa-form-element
{
	width:100%;
}

@media screen and (min-width: 367px)
{

	.nbaa-form-element
	{
	    width: 300px;
	}

	.nbaa-form-centered
	{
		width:auto;
	}
}

@media screen and (min-width: 768px) and (min-height:820px)
{
	.crew-page .nbaa-form
	{
		position: absolute;
		bottom: 0;
		margin-top:50px;
	}
}
@media screen and (min-width: 768px) and (min-height:750px)
{
	.login-page .nbaa-form
	{
		position: absolute;
		bottom: 0;
		margin-top:50px;
	}
}

@media screen and (min-width: 768px) and (min-height:600px)
{
	.senior-page .nbaa-form
	{
		position: absolute;
		bottom: 0;
		margin-top:50px;
	}

	.principal-page .nbaa-form
	{
		position: absolute;
		bottom: 0;
		margin-top:50px;
	}
}

@media screen and (min-width: 768px) and (min-height:600px)
{
	.topup-page .nbaa-form
	{
		position: absolute;
		bottom: 0;
		margin-top:50px;
	}
}

/* attache buttons to the bottom on mobile until it's not overlap the content, also maintain the full-page width of the button */
@media screen and (min-height:450px){
	.about-page .nbaa-form
	{
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		padding: 4px;
	}
}

/* attache the button to the bottom until it's not overlap the content */
@media screen and (min-width: 768px) and (min-height:550px)
{
	.about-page .nbaa-form
	{
		position: absolute;
		bottom: 0;
		margin-top:50px;
		left:auto;
		right:auto;
	}
}

@media screen and (min-width: 768px)
{
	.nbaa-form-element
	{
	    width: 300px;
	}

	.nbaa-form-centered
	{
		width:350px;
		margin-left:auto;
		margin-right:auto;
	}
}

.nbaa-form-element:focus,
.nbaa-form-element:hover
{
	outline:none;
}


/* BUTTON STATES*/

.nbaa-btn
{
	background-color: rgba(0,0,0,.5);
	border: none;
	color: rgb(255,255,255);
	text-decoration: none;
	-webkit-appearance: none;
	-webkit-border-radius:0;
	border-radius:0;
	font-weight:bold;
}

.nbaa-btn:hover,
.nbaa-btn:focus
{
	border: none;
	color: rgb(255,255,255);
	cursor: pointer;
	text-decoration: none;
}

.btn-big {
    height: 70px;
    line-height: 70px;
}

.btn-blue
{
	background-color:#4da7e5;
}

.btn-black
{
	background-color:#000;
}

.btn-grey
{
	background-color:#575757;
}

.btn-red
{
	background-color:#E54D4D;
}

/* DISABLED BUTTON STATES*/

.btn-disabled
{
	pointer-events:none;
}

/* BUTTON OVERRIDE */

.nbaa-input
{
	background-color: rgb(255,255,255);
	border: none;
	color: rgba(0,0,0,.90);
	border-radius:0;
}

.nbaa-text
{
	color:white;
	display: inline-block;
	font-weight: bold;
	line-height:33px;
	max-width: 300px;
	text-shadow: 0 0 5px rgba(0,0,0,.25);
	width:auto;
	height:auto;
	margin:5px 0;
}

/* BUTTON ICON */
.nbaa-btn i.icon-right-open-big
{
    margin-right: -7px;
}

.nbaa-btn i
{
    float: right;
    font-size: 19px;
}


.nbaa-btn i.i-lrg
{
    float: right;
    font-size: 30px;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/*ABOUT PAGE*/

.about-content
{
	background-color:rgba(255,255,255,.6);
	padding:10px;
}

.about-content img
{
	max-width:100%;
	display:block;
	margin: 0 auto;
}

.about-content p
{
	color:#272623;
	text-shadow: 0 0 0 transparent;
	font-size:16px;
}

@media screen and (min-width: 768px)
{
	.about-container
	{
		max-width: 1170px;
		margin: 0 auto;
	}

	.about-content
	{
		padding:40px;
	}

	.about-content img
	{
		max-width:80%;
		display:block;
		margin: 0 auto;
	}

	.about-content p
	{
		font-size:18px;
	}
}