.bordered td {
    border-top: 1px solid;
    border-color: rgb(120, 129, 128);
}

/*
.usertotal td {
    border-top: 1px solid;
    border-color: rgb(120, 129, 128);
}
*/

.reporttotal td {
    border-top: 2px solid;
    border-color: rgb(120, 129, 128);
}

