body {
  margin: 0px;
  padding: 0px;
  background-color: #FFFFFF;
  color: #788180;
  font-family: verdana,helvetica,sans-serif;
  font-size: 11px; 
  text-align: left !important;
}

#logo_title {
  border: 0px none;
  padding: 0px;
  white-space: nowrap;
}

p.signuperror {
  color: #FF8180;
  font-size: 12px;
  font-weight: bold;
}

#cntr_container {  
  position: absolute; 
  left: 0px; 
  top: 0px; 
  width: 100%; 
  height: 100%; 
}

#cntr_conttable {
  height: 90%; 
  width: 100%; 
  position: absolute;
  margin: 20px auto auto auto;
  padding: 2px;
  border-spacing: 0px;
}

#cntr_continner {
  width: 320px;
  height: 305px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.shadow {
  float: left; 
  background: url(shadow.png) no-repeat bottom right !important;
  background: url(shadow.gif) no-repeat bottom right;
  margin: 10px 0 0 10px !important;
  margin: 10px 0 0 5px;
  }

.shadow-inner {
  background: none !important;
  background: url(shadow2.gif) no-repeat left top;
  padding: 0 !important;
  padding: 0 6px 6px 0;
  }

.shadow-cnt {
  background-color: #EAEBE1;
  border: 1px solid #808080; 
  padding: 10px 20px;
  margin: -6px 6px 6px -6px !important;
  margin: 0;
}

#cntr_logo {
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#cntr_conttd {
  vertical-align: middle;
  text-align: center;
  height: 100%;
}

.signup {
  width: 140px; 
}
